{% extends "base.html" %}
{% block content %}

<h1>{{ member.username }}의 사용자 프로필</h1>

<div>
    <h2>사용자 이름 : {{ member.username }}</h2><br>
    <p>가입일자 : {{ member.date_joined }}</p><br>
    <p>
        팔로워 : {{ member.followers.count }}<br>
    </p>
</div>

<div>
    {% for product in products %}
    <a href="{% url "product_detail" product.pk %}">
    <p>{{ product.title }} [작성자: {{ product.author }}]</p>
    </a>
    {% endfor %}
</div>


    {% if request.user != member %}
        <form action="{% url "follow" member.pk%}" method="POST">
            {% csrf_token %}
        
            {% if request.user in member.followers.all %}
                <button type="submit">팔로우 취소</button>
            
            {% else %}
                <button type="submit">팔로우</button>
        
            {% endif %}
        </form>
    {% endif %}
</p><br>

<a href="{% url "index" %}"><button>메인 페이지로 돌아가기</button></a>

{% endblock content %}
